<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.base.mapper.AuthMapper">
    <resultMap id="BaseResultMap" type="com.lin.cms.base.model.AuthDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="auth" jdbcType="VARCHAR" property="auth"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
    </resultMap>

    <select id="selectOneByGroupIdAndAuthAndModule" resultMap="BaseResultMap">
        select * from lin_auth
        where group_id=#{groupId}
        and auth=#{auth}
        and module=#{module}
        limit 1
    </select>

    <select id="findByGroupId" resultType="com.lin.cms.base.model.SimpleAuthDO">
        select lin_auth.`auth`,lin_auth.`module` from lin_auth
        where group_id=#{groupId}
    </select>

    <select id="findOneByGroupIdAndAuth" resultType="com.lin.cms.base.model.AuthDO">
        SELECT * from lin_auth
        WHERE group_id=#{groupId}
        AND auth=#{auth}
        LIMIT 1
    </select>

    <delete id="deleteByGroupId">
        DELETE FROM lin_auth WHERE lin_auth.`group_id`=#{groupId}
    </delete>

    <delete id="deleteByGroupIdAndInAuths">
        DELETE FROM lin_auth WHERE lin_auth.`group_id`=#{groupId}
        AND lin_auth.`auth` IN
        <foreach collection="list" item="auth" index="index"
                 open="(" close=")" separator=",">
            #{auth}
        </foreach>
    </delete>

</mapper>