<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.demo.sleeve.mapper.ActivityCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.cms.demo.sleeve.model.ActivityCategory">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="activity_id" property="activityId"/>
    </resultMap>


    <select id="getCategoryIds" resultType="java.lang.Long">
        select ac.category_id from activity_category ac where ac.activity_id = #{activityId}
    </select>
</mapper>
