<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.demo.sleeve.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.cms.demo.sleeve.model.Order">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="total_price" property="totalPrice"/>
        <result column="total_count" property="totalCount"/>
        <result column="create_time" property="createTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="snap_img" property="snapImg"/>
        <result column="snap_title" property="snapTitle"/>
        <result column="snap_items" property="snapItems"/>
        <result column="snap_address" property="snapAddress"/>
        <result column="prepay_id" property="prepayId"/>
        <result column="final_total_price" property="finalTotalPrice"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getOrderByPage" resultType="com.lin.cms.demo.sleeve.model.Order">
        select o.* from `order` o where o.delete_time is null
    </select>

    <update id="changeOrderStatus">
        update `order` o set o.status = #{status} where o.id = #{id}
    </update>

</mapper>
