<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.demo.sleeve.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.cms.demo.sleeve.model.Sku">
        <id column="id" property="id"/>
        <result column="price" property="price"/>
        <result column="discount" property="discount"/>
        <result column="on_sale" property="onSale"/>
        <result column="img" property="img"/>
        <result column="title" property="title"/>
        <result column="spu_id" property="spuId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="specs" property="specs"/>
        <result column="code" property="code"/>
        <result column="currency" property="currency"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <select id="getSuggestions" resultType="com.lin.cms.demo.sleeve.model.SuggestionDO">
        select s.id id, s.title name from sku s
        where s.spu_id = #{spuId}
        and s.delete_time is null
        <if test="id != null">
            and s.id != #{id}
        </if>
    </select>

    <select id="getSpecValueId" resultType="java.lang.Long">
        select s.value_id as value_id from sku_spec s
        where s.sku_id = #{skuId}
        and s.key_id = #{keyId}
    </select>

    <select id="getWithName" resultType="com.lin.cms.demo.sleeve.model.SkuWithNameDO">
        select s.id,
        s.price,
        s.discount,
        s.on_sale,
        s.img,
        s.title,
        s.spu_id,
        s.code,
        s.currency,
        s.stock,
        s.specs,
        p.title spu_name
        from sku s
        left join spu p on p.id = s.spu_id
        where s.id = #{id}
        and s.delete_time is null
    </select>

</mapper>
