<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.demo.sleeve.mapper.SkuSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.cms.demo.sleeve.model.SkuSpec">
        <id column="id" property="id"/>
        <result column="spu_id" property="spuId"/>
        <result column="sku_id" property="skuId"/>
        <result column="key_id" property="keyId"/>
        <result column="value_id" property="valueId"/>
    </resultMap>

    <delete id="deleteSpecs">
        delete from sku_spec s where s.spu_id=#{spuId} and s.sku_id=#{skuId}
    </delete>

</mapper>
