<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.demo.sleeve.mapper.ThemeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.cms.demo.sleeve.model.Theme">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="location" property="location"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="img" property="img"/>
        <result column="extend" property="extend"/>
        <result column="entrance_img" property="entranceImg"/>
        <result column="internal_top_img" property="internalTopImg"/>
    </resultMap>

    <select id="getSpus" resultType="com.lin.cms.demo.sleeve.model.SimpleSpuDO">
        <!--        select s.id, s.title, s.subtitle, s.img-->
        <!--        from spu s-->
        <!--        where s.delete_time is null-->
        <!--        and s.id in (-->
        <!--        select ts.spu_id-->
        <!--        from theme_spu ts-->
        <!--        where ts.theme_id = #{id}-->
        <!--        )-->
        select s.id, s.title, s.subtitle, s.img, ts.id tid
        from spu s
        right join theme_spu ts
        on s.id = ts.spu_id
        where s.delete_time is null
        and ts.theme_id = #{id}
    </select>

</mapper>
