<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.cms.demo.sleeve.mapper.ThemeSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lin.cms.demo.sleeve.model.ThemeSpu">
        <id column="id" property="id"/>
        <result column="theme_id" property="themeId"/>
        <result column="spu_id" property="spuId"/>
    </resultMap>

    <select id="getSpuSuggestion" resultType="com.lin.cms.demo.sleeve.model.SuggestionDO">
        select s.id id, s.title name
        from spu s
        where s.delete_time is null
        and
        s.id not in (
        select ts.spu_id
        from theme_spu ts
        where
        ts.theme_id = #{id}
        )
    </select>

</mapper>
